In [2]:
import pandas as pd

# Read the Excel file into a Pandas Dataframe
file_path = r"C:\Users\aslee\OneDrive - MORE ELECTRIC AND POWER CORPORATION\Desktop\DASHBOARD_FINAL\station_load_graph.xlsx"
df = pd.read_excel(file_path)

In [3]:
# Debug: Print DataFrame head
print("DataFrame head:")
print(df.head())

DataFrame head:
   Hour  Lapaz  Jaro  Mandurriao  Molo  Diversion  Mobile SS 1  Mobile SS 2  \
0     1  18904  5189        7859     0       4467         3875        14386
1     2  18793  4947        7420     0       4398         3682        14259
2     3  17764  4766        7292     0       4218         3535        13776
3     4  17244  4538        7087     0       4201         3429        13328
4     5  17340  4597        7101     0       4357            0        13180

   Megaworld
0      13743
1      13009
2      12813
3      12661
4      16037

In [4]:
import mysql.connector
from mysql.connector import Error

# Connect to the MySQL Database
try:
    connection = mysql.connector.connect(
        host='localhost',
        database='myDb',
        user='root',
        password=''
    )

    if connection.is_connected():
        print("Successfully connected to the database")
        cursor = connection.cursor()

        # Create a table
        table_name = 'station_load_graph'
        create_table_query = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            id INT AUTO_INCREMENT PRIMARY KEY,
            Hour INT(11) NOT NULL,
            Lapaz INT(11) NOT NULL,
            Jaro INT(11) NOT NULL,
            Mandurriao INT(11) NOT NULL,
            Molo INT(11) NOT NULL,
            Diversion INT(11) NOT NULL,
            `Mobile SS 1` INT(11) NOT NULL,
            `Mobile SS 2` INT(11) NOT NULL,
            Megaworld INT(11) NOT NULL
        )
        """
        cursor.execute(create_table_query)
        print("Table created successfully or already exists")

        # Insert data from dataframe into the MySQL table
        for i, row in df.iterrows():
            sql = f"INSERT INTO {table_name} (Hour, Lapaz, Jaro, Mandurriao, Molo, Diversion, `Mobile SS 1`, `Mobile SS 2`, Megaworld) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
            cursor.execute(sql, tuple(row))
            print(f"Inserted row {i + 1}")

        # Commit the transaction
        connection.commit()
        print("Data committed to the database")

except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Successfully connected to the database
Table created successfully or already exists
Inserted row 1
Inserted row 2
Inserted row 3
Inserted row 4
Inserted row 5
Inserted row 6
Inserted row 7
Inserted row 8
Inserted row 9
Inserted row 10
Inserted row 11
Inserted row 12
Inserted row 13
Inserted row 14
Inserted row 15
Inserted row 16
Inserted row 17
Inserted row 18
Inserted row 19
Inserted row 20
Inserted row 21
Data committed to the database
MySQL connection is closed

In [5]:
from datetime import datetime
# Get the current hour
current_hour = datetime.now().hour
current_hour

10