In [16]:
from sqlalchemy import create_engine
import pandas as pd
import pyodbc
import mysql.connector
import pandas as pd
import openpyxl as xl
import shutil
import os
import re
from datetime import datetime
import numpy as np

file_loc = r'C:\Users\aslee\OneDrive - MORE ELECTRIC AND POWER CORPORATION\Desktop\DASHBOARD_FINAL\\'
#file_loc = r'E:\OneDrive - MORE ELECTRIC AND POWER CORPORATION\Desktop\DASHBOARD_FINAL\\'
current_day = datetime.today()


# Create SQLAlchemy engine
engine = create_engine('mysql+mysqlconnector://mepcadmi_guest:hJER8pBv8WyS@192.185.52.175/mepcadmi_empower')

query = (
    "SELECT * "
    "FROM mepcadmi_empower.substation_load WHERE date_entered = '2024-09-17' "
)

substation_load_df = pd.read_sql(query, engine, parse_dates={"date_entered": {"format": "%d/%m/%y"}})
substation_load_df = substation_load_df.sort_values(by=['date_entered', 'time_entered'])
# substation_load_df
substation_load_df.get("substation")

,seq_id,substation,feeder_no,date_entered,time_entered,amp1,amp2,amp3,load_kw,pf_load,...,69kv_kwhr,69kv_amp1,69kv_amp2,69kv_amp3,69kv_pf,13kv_amp1,13kv_amp2,13kv_amp3,13kv_pf,13kv_kwhr
0,773761,JARO SUBSTATION,FEEDER 1,2024-09-17,1,152.0,136.0,128.0,3307.0,99.0,...,NaN,NaN,NaN,NaN,NaN,206.0,182.0,175.0,100.0,2786.9
1,773762,JARO SUBSTATION,FEEDER 2,2024-09-17,1,56.0,40.0,40.0,1121.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,773764,LAPAZ SUBSTATION,FEEDER 2,2024-09-17,1,151.0,187.0,151.0,3789.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,773765,LAPAZ SUBSTATION,FEEDER 3,2024-09-17,1,182.0,206.0,213.0,4786.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,773766,LAPAZ SUBSTATION,FEEDER 4,2024-09-17,1,113.0,101.0,96.0,2405.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,774005,DIVERSION SUBSTATION,FEEDER 1,2024-09-17,11,227.0,234.0,237.0,5131.0,94.0,...,43996105.0,126.0,128.0,127.0,92.0,621.0,627.0,631.0,95.0,45126842.0
243,774006,LAPAZ SUBSTATION,FEEDER 5,2024-09-17,11,266.0,260.0,280.0,5898.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,774007,DIVERSION SUBSTATION,FEEDER 2,2024-09-17,11,35.0,39.0,40.0,720.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,774008,LAPAZ SUBSTATION,FEEDER 6,2024-09-17,11,35.0,33.0,33.0,672.0,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,774009,DIVERSION SUBSTATION,FEEDER 3,2024-09-17,11,170.0,177.0,176.0,3822.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN